.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect

R/private_info.R
data/inputs_extracted
*~$*
hold
*.gpkg-wal
*.gpkg-shm
*.jpeg
20211016b_parker_uav_plan.kmz
*.kml
*.PNG
*.sqlite
*.gpkg
*.JPG
!crossing_all.JPG
!*_k_*
!docs/ELK2021_files/**
!fig/**
!docs/fig/**
